*.jpg
*.png
*.js
!ace/mode-grace.js
!scripts/client-ws.js
!scripts/codegen.js
!scripts/dialects.js
!scripts/drag.js
!scripts/json.js
!scripts/main.js
!scripts/overlay.js
!scripts/piemenu.js
!scripts/setup.js
!scripts/text.js
!scripts/touch.js
!scripts/windows.js
*.txt
